/* skills */

.skills-section {
    padding: 0 10vw;
}

.sub-heading {
    font-size: 2.5rem;
    font-weight: 300;
    margin: 40px 0;
    text-transform: capitalize;
}


.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 60px;
    
}



